.card {
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  max-width: 250px;
  width: 100%;
}

.pic {
  padding: 30px 10px;
  display: flex;
}

.title {
  font-weight: 700;
  max-width: 170px;
  font-size: inherit;
  margin-bottom: 13px;
}

.body {
  padding: 12px 15px 15px 15px;
}
