.wrapper {
  padding: 30px 0;
}

.link {
  background: #3366FF;
  border-radius: 3px;
  color: #fff;
  padding: 8px 30px;
  margin-bottom: 20px;
  line-height: 24px;
}

.pic {
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.model {
  margin-bottom: 20px;
}
