@import "fonts";
@import "global";

:root {
  --header-h: 80px;
  --full-h: calc(100vh - var(--header-h))
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

#root {
  min-height: 100vh;
}
