.wrapper {
  padding: 40px;
  max-height: 380px;
  overflow-y: auto;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.list > *:not(:last-child) {
  margin-bottom: 40px;
}
